.mt-4.all-courses-list {
    padding-top: $sp-7;
    overflow: hidden;
    .slick-arrow.slick-prev {
        top: 400px;
        left: -40px;
        z-index: 1;
        width: 50px;
        height: 100px;
        color: $darkRed;
        transition: color 0.2s;
    }
    .slick-arrow.slick-next {
        top: 400px;
        right: -50px;
        color: $darkRed;
        width: 50px;
        height: 100px;
        transition: color 0.2s;
    }
}
