.course_learn_container {
    h3 {
        color: #007be8;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .lesson_list {
        .card {
            margin-bottom: 16px;
            .card-body {
                .lesson_list_item_title {
                    color: #7a8994;
                    font-weight: 500;
                }
                .lesson_list_item_button {
                    button {
                        padding-left: 16px;
                        padding-right: 16px;
                        line-height: 20px;
                        min-width: 120px;
                        border: 1px solid #f2f4f5;
                        &:hover {
                            color: #333;
                            background-color: #fafafa;
                            border: 1px solid rgba(122, 137, 148, 0.27);
                        }
                        &:focus {
                            outline: none !important;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}
