.myNavBar {
    border-bottom: solid 1px $border;
    .navbar-brand {
        flex-grow: 1;
        img {
            width: 100px;
            height: 40px;
            object-fit: cover;
        }
    }
    .myNavBar_categories {
        flex-grow: 1;
        @include Text($medium, $fw-normal, $grey);
        align-self: center;
    }
    .myNavBar_search {
        flex-grow: 5;
        input {
            border: none;
            background-color: $lightGrey;
            transition: none;
            height: 45px;
            &::placeholder {
                @include Text($medium, $fw-light, $grey);
            }
            &:focus {
                box-shadow: none;
                background-color: $white;
                border-top: 1px solid $border;
                border-bottom: 1px solid $border;
                border-left: 1px solid $border;
            }
            &:focus + .input-group-append {
                .input-group-text {
                    background-color: $white;
                    color: $red;
                    border-top: 1px solid $border;
                    border-bottom: 1px solid $border;
                    border-right: 1px solid $border;
                }
            }
        }
        .input-group-append {
            .input-group-text {
                font-size: $h6;
                color: $red;
                border: none;
                background-color: $lightGrey;
                &:hover {
                    background-color: $red;
                    color: $white;
                    border-left: none;
                }
            }
        }
    }
    .navbar-nav {
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .nav-item {
            .nav-link {
                @include Text($medium, $fw-normal, $grey);
                padding: $sp-1 $sp-1;
                align-self: center;
            }
            &:hover {
                background-color: $lightGrey;
            }
        }
        .nav-item:nth-child(3) {
            border-radius: 50%;
            padding: $sp-1 $sp-1;
            font-size: $h6;
            align-self: center;
        }
    }

    @include respond-to("extra-large") {
        .navbar-nav {
            .business,
            .instructor {
                display: none;
            }
        }
    }
    @include respond-to("medium") {
        .myNavBar_categories,
        .myNavBar_search {
            display: none;
        }
    }
}
